<table id="commenttable">
    <thead>
        <tr>
            <th>

                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i>Demo Details </h3>

            </th>
            <th>
                <label> ID</label>
                <input type="text" id="txtid" class="form-control" placeholder="Enter Employee Id" required="" />
            </th>
            <th>
                <label>First Name</label>
                <input type="text" id="txtFName" class="form-control" placeholder="Enter First Name" required="" />
            </th>
            <th>
                <label>last Name</label>
                <input type="text" id="txtLName" class="form-control" placeholder="Enter SurName" required="" />
            </th>
            <th>
                <label>Email</label>
                <input type="email" id="txtAddress" class="form-control" placeholder="Enter Email-Address" required="" />
            </th>
            <th>
                <label>Phone Number</label>
                <input type="number" id="txtPhone" class="form-control" placeholder="Enter Phone " required="" />
            </th>
            <th>
                <label>Company</label>
                <input type="text" id="txtcompany" class="form-control" placeholder="Enter Company Name" required="" />
            </th>



            <th>
                <button type="button" class="btn btn-primary" id="btnAddRow" >Add</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update()">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </th>
        </tr>
    </thead>
</table>

<script src="~/js/site.js"></script>



